html {
    height: 100%;
}

body {
	background: #0d2747; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0d2747, rgb(50, 152, 50)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0d2747, rgb(50, 152, 50)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0d2747, rgb(50, 152, 50)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0d2747, rgb(50, 152, 50)); /* Standard syntax */
	padding: 3%;
	color: #fff;
	height: 100%;
}


.your-event-tile {
	background: rgb(230, 247, 255);
	padding: 3%;
	color: #0d2747;
	margin: 3%;

}

.your-event-title:hover {
	background: #
}

.event-tile {
	background: rgb(233, 255, 230);
	padding: 3%;
	color: #0d4727;
	margin: 3%;
}

.your-event {
	background: #0d2747;
	color: #fff;
	border: none;
}

button.your-event:hover {
	background: #2877d7;
	color: #fff;
	border: none;
}

.event {
	background: #267326;
	color: #fff;
	border: none;
}

button.event:hover {
	background: #53c653;
	color: #fff;
	border: none;
}

a {
	color: #fff;
	text-align: right;
}

a:hover {
	color: rgb(233, 255, 230);
}

.right {
	text-align: right;
}

#drop-zone {
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
    font-family: Arial;
    text-align: center;
    position: relative;
    line-height: 190px;
    font-size: 20px;
    color: rgba(0,0,0,.3);
}

#drop-zone input {
    /*Important*/
    position: absolute;
    /*Important*/
    cursor: pointer;
    left: 0px;
    top: 0px;
    /*Important This is only comment out for demonstration purposes.
    opacity:0; */
}

/*Important*/
#drop-zone.mouse-over {
    border: 2px dashed rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
}


/*If you dont want the button*/
#clickHere {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: 20px;
    line-height: 26px;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 26px;
    border-radius: 4px;
    /*background-color: #3b85c3;*/
}
#btns {
	padding-top:10px;
}
#eventName {
	text-align: center;
}

